// This file is for manual customizations. api2tf will not overwrite it.

package provider

// Uncomment and implement hooks as needed:
//
// import (
// 	"context"
// 	"github.com/hashicorp/terraform-plugin-framework/diag"
// )
//
// func (d *{{ type_name }}DataSource) AfterRead(ctx context.Context, state *{{ type_name }}DataSourceModel) diag.Diagnostics {
// 	// Custom logic after read API call
// 	return nil
// }
